/* style.css */

/* CSS untuk elemen header */
header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: transparent; /* Ganti nilai background-color ke transparent untuk menghilangkan latar belakang */
}

/* CSS untuk elemen body */
body {
  background-color: #fff; /* Ganti background-color ke #fff (putih) */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #020000;
}

/* CSS untuk elemen navigasi */
nav {
  background-color: #1e7dc0;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3989c1;
  border-radius: 5px;
}

/* CSS untuk elemen section */
section {
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

b {
  font-size: 15px;
  font-weight: bold;
  color: #000000f3;
}


#container {
  max-width: 1000px;
  margin: 25px 20px;
  padding: 25px;
}

/* CSS untuk blok latar belakang */
.background-block {
  background-color: #a9cde7;
  padding: 20px;
}

.background-block b {
  margin: 0;
  color: #070505;
}

/* CSS untuk tabel jadwal */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  background-color: #555555b5;
}

.images {
  display: flex;
  width: 100%;
  transition: 2s;
}

.images img {
  width: 100%;
}

.wrapper {
  width: 400px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

#slide-1:target ~ .images {
  margin-left: 0%;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

.navigasi a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0;
  border-radius: 50%;
  margin: 3px;
}

.navigasi a:hover {
  background-color: #666;
  transition: 1s;
}

.navigasi {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}

kt {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

table th {
  background-color: none;
  color: #000;
}

/* CSS untuk tombol */
button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #a9cde7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

/* CSS untuk footer */
footer {
  background-color: transparent; /* Ganti background-color ke transparent */
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* Media query untuk tampilan mobile */
@media (max-width: 320px) {
  header {
    padding: 100px;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  h1 {
    font-size: 20px;
  }

  nav ul li a {
    padding: 5px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    padding: 8px 16px;
    margin-right: 5px;
  }

  footer {
    padding: 10px;
    font-size: 10px;
  }
}
