/* CSS untuk elemen header */
header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: none;
}

/* CSS untuk elemen body */
body {
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* menambahkan warna teks putih */
}

/* CSS untuk elemen navigasi */
nav {
  background-color: #a9cde7;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
  border-radius: 5px;
}

/* CSS untuk elemen section */
section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* CSS untuk tabel jadwal */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: none;
  color: #fff;
}

/* CSS untuk tombol */
button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #a9cde7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* menambahkan border-radius dengan nilai 5px */
}

button:hover {
  background-color: #555;
}

/* CSS untuk footer */
footer {
  background-color: none;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff; /* menambahkan warna teks putih */
}


/* Media query untuk tampilan mobile */
@media (max-width: 700px) {
  header {
    padding: 10px;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  h1 {
    font-size: 20px;
  }
  /* CSS untuk elemen navigasi */
nav {
  background-color: #a9cde7;
  padding: 8px 8px;
  margin-right: 10px;
  border-radius: 5px;
  }
  nav ul li a {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    padding: 8px 8px;
    margin-right: 5px;
  }

  footer {
    padding: 10px;
    font-size: 10px;
  }
}
