/* style.css */

/* CSS untuk elemen header */
header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: none;
}

/* CSS untuk elemen body */
body {
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* menambahkan warna teks putih */
}

/* CSS untuk elemen navigasi */
nav {
  background-color: #a9cde7;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
  border-radius: 5px;
}

/* CSS untuk elemen section */
section {
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
b {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

#container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* CSS untuk blok latar belakang */
background-block {
  background-color: #a9cde7; /* Latar belakang biru cerah (#a9cde7) */
  padding: 20px; /* Tambahkan padding sesuai kebutuhan */
}

background-block b {
  margin: 0; /* Menghilangkan margin pada teks di dalam blok */
  color: #fff; /* Warna teks putih */
}

/* Gaya untuk link */
a {
  color: #4285f4; /* Warna biru cerah */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CSS untuk tabel jadwal */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  background-color: #555555b5; /* Menambahkan latar belakang abu-abu (#555555b5) */
}

td img {
  width: 100%;
  max-width: 150px; /* Ubah ukuran maksimum sesuai kebutuhan */
  height: auto;
  display: block;
  margin-bottom: 10px;
}
kt {
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

table th {
  background-color: none;
  color: #000;
}

/* CSS untuk tombol */
button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #a9cde7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* menambahkan border-radius dengan nilai 5px */
}

button:hover {
  background-color: #555;
}

/* CSS untuk footer */
footer {
  background-color: none;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff; /* menambahkan warna teks putih */
}


/* Media query untuk tampilan mobile */
@media (max-width: 320px) {
  header {
    padding: 10px;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  h1 {
    font-size: 20px;
  }

  nav ul li a {
    padding: 5px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    padding: 8px 16px;
    margin-right: 5px;
  }

  footer {
    padding: 10px;
    font-size: 10px;
  }
}
